.formcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 4%;
    background-color: #495E57;
    height: 100%;
}
#formheading{
    color: #F4CE14;
    letter-spacing: 1px;
}
label{
    font-size: 2rem;
    color: #EDEFEE;
}
select, input[type="date"],[type="number"]{
    width: auto;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 5px;
}
input[type="submit"]{
    color: #333333;
    border-radius: 10px;
    border: none;
    padding: 20px;
    background-color: #F4CE14;
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
}
#myname{
    width: auto;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 5px;
}
#guests{
    width: 100px;
}
#res-name{
    width: auto;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 5px;
}
input[type="submit"]:hover{
    cursor: pointer;
}
input:focus:invalid{
    border: 2px solid red;
}
fieldset{
    width: 250px;
    border-radius: 10px;
}
fieldset>legend{
    font-size: 2rem;
    color: #EDEFEE;
}
.title{
    font-size: 2rem;
    color: #EDEFEE;
}
.title>span{
    color: #F4CE14;
    text-shadow: 2px 2px #4d4b4b;
}
@media only screen and (max-width: 600px) {
form{
    width: 100%;
    text-align: center;
}
  }