@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');
.banner>h1 {
    grid-area: promo;
  }
  .banner>h2 {
    grid-area: subtitle;
  }
  .banner>p {
    grid-area: text;
  }
  .banner>img {
    grid-area: image;
    justify-self: start;
  }

.banner{
    max-height: 400px;
    font-family: 'Markazi Text', serif;
    background-color: #495E57;
    justify-content: space-around;  
    display: grid;
    grid-template-columns: 10% 40% 20% 20%;
    grid-template-rows: auto;
    grid-template-areas:
      ". promo . ."
      ". subtitle . ."
      ". text  image ."
      ". btn . ."
      ". . . .";

}
.banner>h1{
    font-size: 3.5rem;
    color: #F4CE14;
}
.banner>h2{
    color: #EDEFEE;
    font-size: 2rem;
    margin-top: -5%;
}
.banner>p{
    color: #EDEFEE;
    max-width: 250px;
    font-size: 1.5rem;
    margin-top: -1rem;
}
#topbtn{
    color: #333333;
    border-radius: 10px;
    border: none;
    padding: 20px;
    background-color: #F4CE14;
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}
.banner>img{
    border-radius: 2%;
    margin-top: -35%;
}
@media only screen and (max-width: 600px) {
  .banner>h1{
    font-size: 2rem;
    color: #F4CE14;
}
  .banner>img{
    width: 100%;
  }
}






