@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');

.navContainer > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: .5rem;
 
}
 ul {
    list-style-type: none;
}
li>a{
    font-family: 'Markazi Text', serif;
    font-size: 2rem;
    color: #333333;
    text-decoration: none;
}